@import '../../shared/shared.scss';

.articleCard {
	@include default-shadow;
	border-radius: 16px;
	width: 80%;
	max-width: 100%;
	list-style: none;
	overflow: hidden;

	@include min-width($desktop-width) {
		width: 300px;
	}

	@include min-width(1200px) {
		width: 330px;
	}

	&:hover {
		animation: scaleUp 0.35s ease-out forwards;
	}

	a {
		display: flex;
		flex-direction: column;

		img {
			width: 100%;
			height: 250px;
			object-fit: cover;
		}

		.articleContent {
			padding: 1.5rem;

			h3 {
				font-weight: 400;
				margin: 1rem 0;
			}

			p {
				color: $color-gray;
				margin-top: 0;
			}

			.date {
				margin-top: 1.8rem;
				margin-bottom: 0;
				font-weight: 600;
			}

			.tags {
				padding-left: 0;
				display: flex;

				li {
					list-style: none;
					$height: 32px;
					margin-right: 1rem;
					background-color: rgba($color: $color-success, $alpha: 0.1);
					color: $color-success;
					height: $height;
					line-height: $height;
					padding-left: 0.6rem;
					padding-right: 0.6rem;
					border-radius: $height / 3;
					font-size: 0.8rem;
					text-transform: uppercase;
				}
			}
		}
	}
}

@keyframes scaleUp {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(1.02);
	}
}
