@import '../../shared/shared.scss';

.header {
	width: 100%;
	margin-bottom: 8rem;
	display: flex;
	justify-content: center;

	@include min-width() {
		justify-content: space-between;
		margin-bottom: 8rem;
	}

	.imageContainer {
		flex-basis: 360px;
		flex-shrink: 2;
		display: none;
		margin-left: 2rem;

		@include min-width() {
			display: block;
		}

		img {
			width: 100%;
		}
	}

	.intro {
		flex-shrink: 5;
		text-align: center;

		@include min-width() {
			text-align: left;
		}

		h1 {
			font-weight: 600;
			font-size: 2.5rem;
			margin-bottom: 2rem;
			margin-top: 0;

			@include min-width() {
				font-size: 3.5rem;
			}
		}

		p {
			font-size: 1.1rem;
			font-weight: 400;
			margin-top: 1rem;
		}

		.searchBar {
			margin-top: 3rem;
			width: 100%;
			position: relative;

			@include min-width() {
				width: 93%;
			}

			input[type='text'] {
				box-shadow: 0 15px 25px 0 rgba($color: #000000, $alpha: 0.08);
				border-radius: $corner-radius;
				border: none;
				width: 100%;
				height: 56px;
				padding-left: 1.5rem;
				padding-right: 1.5rem;
				font-size: 1.2rem;

				&:focus {
					outline: none;
				}

				&::placeholder {
					color: $color-gray-light;
				}
			}
		}

		.searchByTags {
			margin-top: 0.9rem;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;

			@include min-width() {
				justify-content: left;
			}

			& > * {
				margin-right: 0.8rem;
			}
			button {
				height: 32px;
				outline: none;
				border: none;
				background-color: rgba($color-primary, 0.15);
				color: $color-primary;
				border-radius: 4px;
				font-size: 1rem;
				cursor: pointer;

				&.active {
					background-color: $color-primary;
					color: $color-white;
				}
			}
		}
	}
}

.articles {
	.articlesList {
		display: grid;
		grid-template-columns: 1fr;
		column-gap: 2rem;
		row-gap: 4rem;
		padding-left: 0;
		justify-items: center;

		@media (min-width: $desktop-width) {
			grid-template-columns: 1fr 1fr;
		}

		@media (min-width: 1200px) {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}
}
