@import '../../shared/shared.scss';

.projectCard {
	@include default-shadow;
	display: block;
	position: relative;
	border-radius: 16px;
	border: 1px solid $color-gray-light;
	overflow: hidden;
	margin-top: 4rem;

	&:nth-of-type(1) {
		margin-top: 0;
	}

	&:hover {
		animation: scaleUp 0.35s ease-out forwards;
	}

	.container {
		$orientation-change-width: 800px;
		display: flex;
		flex-direction: column;

		@include min-width($orientation-change-width) {
			flex-direction: row;
		}

		img {
			flex-basis: 200px;
			width: 100%;
			object-fit: cover;
			overflow: hidden;

			@include min-width($orientation-change-width) {
				flex-basis: 100%;
				width: 50%;
				height: auto;
			}

			&.rightAligned {
				order: 1;
			}
		}

		.projectContent {
			flex-basis: 100%;
			display: flex;
			flex-direction: column;

			padding: 1.5rem;

			h3 {
				font-weight: 600;
				margin: 1rem 0;
			}

			p {
				color: $color-gray;
				margin-top: 0;
				line-height: 1.4;
			}

			.spacer {
				flex-shrink: 1000;
				flex-grow: 1000;
			}

			.date {
				margin-top: 1.8rem;
				margin-bottom: 0;
				font-weight: 600;
			}

			.techList {
				padding-left: 0;
				display: flex;
				flex-wrap: wrap;
				margin-left: -4px;

				li {
					margin: 4px;
					$height: 32px;
					background-color: rgba($color: $color-success, $alpha: 0.1);
					color: $color-success;
					height: $height;
					line-height: $height;
					padding-left: 0.6rem;
					padding-right: 0.6rem;
					border-radius: $height / 3;
					font-size: 0.75rem;
					text-transform: uppercase;
				}
			}
		}
	}
}

@keyframes scaleUp {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(1.02);
	}
}
