$desktop-width: 47rem;
$max-width-desktop: 1000px;
$padding-horizontal: 2.2rem;
$padding-vertical-sm: 3rem;
$padding-vertical-lg: 6rem;
$corner-radius: 8px;

// colors:
$color-primary: #1565d8;
$color-secondary: #3f598a;
$color-success: #36b37e;
$color-info: #00b8d9;
$color-warning: #faad13;
$color-danger: #f16141;
$color-black: #183b56;
$color-gray: #5a7184;
$color-gray-light: #b3bac5;
$color-white: #ffffff;
